.today-data {
  padding-top: 110px;
  width: 90%;
  margin: auto; /* Adjust this value based on your navbar height */
}

.today-data h2 {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 24px;
  color: #333;
}
  
  .today-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .today-table th
  {
    padding: 10px;
    text-align: center;
    border: 1px solid black; 
  }
  .today-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    background-color:rgb(231, 220, 220);
  }
  
  .today-table th {
    background-color: #608eb4;
  }
  
  .today-table .even {
    background-color: #f9f9f9;
  }
  
  .today-table .odd {
    background-color: #fff;
  }
  
  .today-pagination {
    margin-top: 20px;
    text-align: center; 
  }
  
  .today-pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #608eb4;
    cursor: pointer;
  }
  
  .today-pagination button.active {
    color: #fff;
  }
  
  .today-pagination button:hover {
    background-color: #4d4c4c;
  }
  