.invoices-data {
    padding-top: 110px;
    width: 90%;
    margin: auto; /* Adjust this value based on your navbar height */
  }
  
  .invoices-data h2 {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .invoices-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .invoices-table th {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 18px;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .invoices-table td {
    padding: 7px;
    border: 1px solid #ddd;
    font-size: 15px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .invoices-table thead {
    background-color: #49f0a2; /* Background color for table header */
  }
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .pagination button {
    background-color: #49f0a2;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button.active {
    background-color: #578373; /* Active button color */
  }