/* Userlist.css */
.overalldiv{
  position: relative;
  top: 70px;
    height: auto;
  background: url("https://t3.ftcdn.net/jpg/03/29/17/78/360_F_329177878_ij7ooGdwU9EKqBFtyJQvWsDmYSfI1evZ.jpg") center/cover;
}
.user-table {
    width: 99%;
    border-collapse: collapse;
    margin-top: 20px;
    color: rgb(24, 54, 28);
    /* color: white; */
    font-size: 17px;
    font-weight: bold;
    margin-left: 8px;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #686666;
    padding: 6px;
    text-align: left;
    /* margin-left: 10px;/ */
  }
  .details{
    text-align: center;
    font-size: 1.8 rem;
    padding-top: 20px;
    color: #528575;
    margin-left: 40px;
  }
  .search098{
    padding: 10px 18px;
    border: 3px solid rgb(4, 1, 35);
    border-radius: 5px;
    /* left: 30%; */
  }
  .search-container098{
    margin-left: 25px;
  }
  
  .user-table th {
    /* background-color: #f2f2f2; */
    text-align: center;
    background-color: rgb(2, 2, 69);
    color: white;
    font-size: 1.5rem;

  }
  
  /* .user-table tbody tr:nth-child(even) {
    /* background-color: #f2f2f2; */
  
  
  .user-table tbody tr:hover {
    background-color: #f6f9f6;
  }
  
  .user-table th:first-child,
  .user-table td:first-child {
    border-left: none;
  }
  
  .user-table th:last-child,
  .user-table td:last-child {
    border-right: none;
  }
  /* Userlist.css */

/* Button styles */
.button-active{
  padding: 6px 6px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  margin-left: -20px;
}
.button-inactive {
  padding: 6px 6px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  
}

.button-active:hover,
.button-inactive:hover {
  background-color: #201c98; /* Green */
}

.button-active {
  background-color: #350e98; /* Green */
  color: white;
}

.button-inactive {
  background-color: #f44336; /* Red */
  color: white;
}

/* Popup styles */
/* .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.popup-content {
  background-color: rgb(171, 160, 160);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
} 

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

  