@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

.complete98 {
  /* background: #f6f5f7; */
  background-image: url('https://img.freepik.com/premium-vector/laundry-room-design-with-washing-machine-3d-illustration_858664-12745.jpg?w=900');
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  
}


.cursor-pointer-back-login{
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-input-master-staff[type="text"],
.login-input-master-staff[type="password"]{
  border-radius: 5px;
}
@media screen and (min-width: 320px) and (max-width: 426px) {
  .link-account-register{
    position: relative;
    right: 10px;
    font-size: 10px;
  }
  .rigister-link-login{
    font-size: 10px;
    position: relative;
    top: 28px;
    left: -9px;
  }
 .cursor-pointer-back-login{
  position: relative;
  top: -5px;
  left: 10px;
 }
 .login-input-master-staff[type="text"],
 .login-input-master-staff[type="password"]{
  width: 130px;
  border-radius: 4px;
 }
}

.dropdown-container-master-login {
  position: relative;
  width: 100%;
  
}

.dropdown-button-master-login {
  position: relative;
  padding: 10px 40px 10px 10px; /* Adjust padding to accommodate the icon */
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;
}

.dropdown-button-master-login::after {
  content: "\25BC"; /* Unicode character for dropdown arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.dropdown-options-master-login {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;
}

.dropdown-options-master-login div {
  padding: 10px;
  cursor: pointer;
}

.dropdown-options-master-login div:hover {
  background-color: #f0f0f0;
}