.back-link {
  display: inline-block;
}

.back-icon {
  position: absolute;
  top: 20px;
  left: 25px;
  border-radius: 30px;
  padding: 8px;
  background-color: #ffffff;
  z-index: 2;
  color: #ff4400;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.back-icon:hover {
  color: #0056b3;
}

.container-abed23s {
  position: relative;
  height: 104vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-abed23s::before {
  content: "";
  position: absolute;
  top: -26px;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../Register/Laundry-img.jpg") center/cover;
  filter: blur(3px);
}

.Inner-container-abed23s {
  background-color: rgb(255, 255, 255);
  border-radius: 22px;
  position: relative;
  top: -26px;
  text-align: center;
  z-index: 1;
  padding: 15px;
  h1 {
    font-family: "Times New Roman", Times, serif;
    margin: 5px 0px;
    font-weight: bold;
  }
}

.formContainerabcd123 {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 1px;
  background: transparent;
}





.input-row input[type="text"],
.input-row input[type="email"],
.input-row input[type="password"]
 {
  width: 40%;
}
.formContainerabcd123 label {
  width: 30%;
  text-align: right;
  margin-right: 10px;
}

.formContainerabcd123 input[type="file"] {
  width: calc(60% - 10px); /* Adjusted width to accommodate for margin */
}

.formContainerabcd123 input[type="file"]::-webkit-file-upload-button {
  padding: 8px;
  background-color: #ffa600;
  color: #ffffff;
  border: none;
  font-size: large;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formContainerabcd123 input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #0056b3;
}



.buttonabcd123 {
  width: 48%;
  padding: 8px;
  margin: 9px 0px;
  background-color: #ffa600;
  color: #ffffff;
  border: none;
  font-size: large;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  left: -1%;
}

.buttonabcd123:hover {
  background-color: #0056b3;
}

.buttonabcd123:focus {
  outline: none;
}

.already-registered {
  font-size: medium;
  margin-top: 8px;
}

@media screen and (min-width: 320px) and (max-width: 426px) {
  .Inner-container-abed23s {
    border-radius: 10px;
    width: 90%;
  }
  .back-icon {
    left: 20px;
    top: 5px;
  }
}
