.back-link {
  display: inline-block;
  /* margin-bottom: 20px;  */
}

.back-icon {
  position: absolute;
  top: 20px;
  left: 25px;
  border-radius: 30px;
  padding: 8px;
  background-color: #ffffff;
  z-index: 2;
  color: #ff4400;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.back-icon:hover {
  color: #0056b3;
}

.container-abed23s {
  position: relative;
  height: 100vh; /* Adjusted to 100vh */
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-abed23s::before {
  content: "";
  position: absolute;
  /* top: 80px; */
  top: -25px;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../Register/Laundry-img.jpg") center/cover;
  filter: blur(3px); /* Example: Apply grayscale filter */
}

.Inner-container-abed23s {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  text-align: center;
  z-index: 1;
  padding: 20px; /* Added padding */

  /* margin-top: 50px; */
  h1 {
    font-family: "Times New Roman", Times, serif;
    margin: 10px 0px;
    font-weight: bold;
  }
}
.formContainerabcd123 {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 15px;
  display: flex; /* Added flex display */
  flex-wrap: wrap; /* Added to wrap elements */
  justify-content: space-between; /* Added to space elements */
  background: transparent;
}
.inputabcd123[type="text"],
.inputabcd123[type="email"],
.selectabcd123,
.inputabcd123[type="password"] {
  width: 49%; /* Adjusted width for equal splitting */
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


.selectabcd123 {
  appearance: none; /* Removes default dropdown arrow */
}

.buttonabcd123 {
  width: 48%; /* Adjusted width */
  padding: 8px;
  margin: 2px 0px;
  background-color: #ffa600;
  color: #ffffff;
  border: none;
  font-size: large;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  left: 25%;
}


.buttonabcd123:hover {
  background-color: #0056b3;
}

.buttonabcd123:focus {
  outline: none;
}

.already-registered {
  font-size: medium;
  margin-top: 8px;
}

.selectabcd1233 {
  width: 49%;
 position: relative;
 top: 9px;
 border-radius: 5px;
 
}
.selectabcd1233:focus {
  outline: black;
}
