.back-link {
  display: inline-block;
}

.back-icon {
  position: absolute;
  top: 20px;
  left: 25px;
  border-radius: 30px;
  padding: 8px;
  background-color: #ffffff;
  z-index: 2;
  color: #ff4400;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.back-icon:hover {
  color: #0056b3;
}

.container-StaffRegister {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-StaffRegister::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../Register/Laundry-img.jpg") center/cover;
  filter: blur(3px);

}

.Inner-container-StaffRegister {
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
  text-align: center;
  z-index: 1;
  padding: 30px;
}

.formContainer-StaffRegister {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column; /* Arrange inputs vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  background: transparent;
}

.input-StaffRegister[type="text"],
.input-StaffRegister[type="email"],
.select-StaffRegister,
.input-StaffRegister[type="password"] {
  width: 100%; /* Full width */
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #bab6b6;
  border-radius: 5px;
  box-sizing: border-box;
}

.select-StaffRegister {
  appearance: none;
}

.button-StaffRegister {
  width: 100%; /* Full width */
  padding: 8px;
  margin: 6px 0px;
  background-color: #ffa600;
  color: #ffffff;
  border: none;
  font-size: large;
  font-weight: 500;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-StaffRegister:hover {
  background-color: #0056b3;
}

.button-StaffRegister:focus {
  outline: none;
}

.already-registered {
  font-size: medium;
  margin-top: 8px;
}

.select-StaffRegister:focus {
  outline: rgb(0, 0, 0);
}

@media screen and (min-width: 320px) and (max-width: 426px) {
  .Inner-container-StaffRegister {
    border-radius: 10px;
    width: 90%;
  }
  .back-icon {
    left: 20px;
    top: 5px;
  }
  .select-StaffRegister {
    padding: 1px;
    height: 5px !important;
  }
}
